body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 10px 10px 10px 0;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 12px;
}

h1 {
    margin: 0;
    font-weight: bold;
}

h2 {
    margin: 0;
}

button {
    padding: 4px 20px;
    background-color: rgb(150, 114, 70);
    color: white;
    border-radius: 12px;
    border-style: none;
    border: 2px solid;
}
.top button {
    margin-bottom: 40px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
    padding: 10px 0 10px;
    font-size: 14px;
}

.header-length {
    background-color: rgb(77, 68, 57);
}

.header .logo {
    font-size: 20px;
    font-weight: bold;
}

.top {
    background-color: rgb(110, 97, 81);
    color: white;
}

.intro {
    margin: 40px 10%;
    display: flex;
    justify-content: center;
}

.features {
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 40px;
}

.diagrams {
    display: inline-flex;
    gap: 28px;
}

img {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    border: 2px solid #ffffff;
    margin-top: 20px;
}

#intro-img {
    background-image: url(img/panko-sandwich.jpeg);
    min-width: 400px;
    min-height: 250px;

    margin: 0 0 40px 8px;
}

.item img {
    width: 100px;
    height: 100px;
    border: 2px solid;
    border-radius: 6px;
    border-color: white;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item p {
    font-size: 12px;
    color: grey 
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    margin: 0 10%;
}

figcaption {
    font-weight: bold;
    font-size: 12px;
    align-self: flex-end;
}

blockquote {
    margin: 40px 0;
}

.quote-length {
    background-color: rgb(225, 206, 184);
}

.footer {
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(77, 68, 57)
}

.footer p {
    margin: 20px;
}

.sign-up {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    background-color: rgb(110, 97, 81);
    border-radius: 12px;
    padding: 20px;
    margin: 20px 20%;
    color: white;
    align-items: center;
}

.box button {
    margin-left: 10px;
}

#item-1 {
    background-image: url(img/dingus.jpeg);
}